@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Open+Sans&display=swap");

:root {
  --text-light: #eeeeee;
  --text-warning: #fb4949;
  --text-secondary: #ececec;

  --background-primary: #252570;
  --background-secondary: #1c5a76;
  --background-light: #eeeeee;

  --font-size-1: 1rem;
  --font-size-2: 1.75rem;
  --font-size-3: 2.5rem;
  --font-size-4: 4rem;

  --main-font: "Montserrat", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--secondary-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--main-font);
  color: var(--text-light);
}

p {
  color: var(--text-secondary);
  max-width: 50ch;
}

input,
textarea,
button {
  outline: none;
  border: none;
  font-family: "Open Sans", sans-serif;
  color: var(--text-light);
}
