.landing-header {
  font-size: var(--font-size-4);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.landing-intro {
  font-size: var(--font-size-2);
  max-width: 33ch;
}

.landing-cta {
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  color: var(--text-light);
  border: 1px solid var(--background-secondary);
  border-radius: 5px;
  background: linear-gradient(
    180deg,
    var(--background-secondary) 0%,
    var(--background-primary) 100%
  );
  margin: 2rem 0 0 auto;
  transition: border 0.3s ease-in-out;
}

.landing-cta:hover {
  border-color: var(--background-light);
}

@media screen and (max-width: 1000px) {
  .landing-header {
    font-size: var(--font-size-3);
  }

  .landing-intro {
    font-size: var(--font-size-1);
  }
  .landing-cta {
    padding: 0.5rem 1rem;
  }
}
